body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: #00ff88;
  text-align: center;
  scroll-behavior: smooth;
}

header {
  padding: 80px 20px;
  background: linear-gradient(180deg, #000000, #0a0a0a);
}

h1, h2, h3, h4 {
  color: #00ff88;
}

p {
  font-size: 1.1em;
  color: #d1d1d1;
  max-width: 700px;
  margin: 20px auto;
  line-height: 1.6em;
}

.btn {
  display: inline-block;
  padding: 15px 45px;
  background-color: #00ff88;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  transition: 0.3s ease;
  margin-top: 20px;
}

.btn:hover {
  background-color: #00cc66;
  transform: scale(1.05);
}

footer {
  background: #0a0a0a;
  padding: 30px 10px;
  color: #777;
  font-size: 0.9em;
}
